@using Framework.HtmlHelpers
@using WebUI.Areas.Admin.Models.Clazz
@using Domain
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";

	ClazzInfo currentClazz = ViewBag.CurrentClazz;
}
@section head {
	<link href="~/dist/AdminLTE/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
	<!-- 重新覆盖掉 select2 所覆盖的主题样式 -->
	<link rel="stylesheet" href="/dist/AdminLTE/dist/css/AdminLTE.min.css">
}
@section body {
	<script src="~/dist/AdminLTE/bower_components/select2/dist/js/select2.full.min.js"></script>
	<script>

		String.prototype.format = function () {
			var args = arguments;
			return this.replace(/\{(\d+)\}/g, function (s, i) {
				return args[i];
			});
		};

		// start 删除
		function deleteOp(id) {
			$("#js-id").val(id);
			$('#deleteModal').modal();
		}
		function deleteCourseTable() {
			var id = $("#js-id").val();
			$.ajax({
				type: 'POST',
				url: '/Admin/CourseTable/Delete',
				data: { id: id },
				dataType: 'json',
				success: function (data) {
					if (data.code <= 0) {
						// 删除失败
						$("#js-message").attr("class", "alert alert-danger").find(".message").html(data.message);
					} else {
						// 删除成功
						$("#js-message").attr("class", "alert alert-success").find(".message").html(data.message);
						$(".table").find("tr[data-tr-id='" + id + "']").remove();
						// 检查当前当前页面是否已经全部删除完，若是，则点击当前页码，重新加载
						var trNum = $(".table").find("tr").length - 1;
						if (trNum == 0) {
							$("#js-page").find("li[class*='active']>a")[0].click();
						}
					}
					// 3s 后隐藏
					setTimeout(function () {
						$("#js-message").fadeOut("slow");
					}, 3000);
				}
			});
		}
		// end 删除

		function loadCourseTableList(clazzId) {
			$("#js-waiting").css("display", "block");
			$("#js-table .js-data-list").remove();
			$.ajax({
				url: "/ClazzInfo/GetCourseTableList",
				type: "post",
				dataType: "json",
				data: { id: clazzId },
				success: function (data) {
					writeCourseTableList(data);
					$("#js-waiting").css("display", "none");
				}
			});
		}
		
		function writeCourseTableList(data) {
			var allHtml = "";
			for (var i = 0; i < data.length; i++) {
				var trHtml = '';
				trHtml += '<tr class="js-data-list">'

				// start 课程
				trHtml += '<td>'
				trHtml += '<select class="form-control select2" data-placeholder="选择课程" style="width: 220px">';
				for (var j = 0; j < data[i].courseSelect.length; j++) {
					var option = data[i].courseSelect[j];
					var optionHtml = '<option value="{0}" {1}>{2}</option>'.format(option.val, option.selected, option.text);
					trHtml += optionHtml;
				}
				trHtml += '</select>';
				trHtml += '</td>'
				// end 课程

				// start 教师
				trHtml += '<td>'
				trHtml += '<select class="form-control select2" data-placeholder="选择教师" style="width: 220px">';
				for (var j = 0; j < data[i].teacherSelect.length; j++) {
					var option = data[i].teacherSelect[j];
					var optionHtml = '<option value="{0}" {1}>{2}</option>'.format(option.val, option.selected, option.text);
					trHtml += optionHtml;
				}
				trHtml += '</select>';
				trHtml += '</td>'
				// end 教师

				// start 删除
				trHtml += '<td>'
				trHtml += '<button class="btn btn-danger">删除</button>'
				trHtml += '</td>'
				// end 删除

				trHtml += '</tr>'

				allHtml += trHtml;
			}

			$("#js-table").append(allHtml);
			//Initialize Select2 Elements
			$(".select2").select2();
		}

		function cancel() {
			loadCourseTableList(@currentClazz.ID);
		}

		$(function () {
			var clazzId = @currentClazz.ID;
			// 初始化该班级已有课表
			loadCourseTableList(clazzId);
		});


	</script>
}

<!-- start 删除确认框 -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">确认框</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="message-text" class="control-label">确定要删除？</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
				<button onclick="deleteSubmit()" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
			</div>
		</div>
	</div>
</div>
<!-- end 删除确认框 -->
<!-- start 提示框 -->
@{ Html.RenderPartial("_MessagePartial"); }
<!-- end 提示框 -->

<input id="js-id" type="hidden" />

<!-- start .box -->
<div class="box">
	<!-- start .box-header -->
	<div class="box-header">
		<h3 class="box-title">@currentClazz.ClazzCode - 调课</h3>

		<div class="box-tools">
			<div class="input-group input-group-sm" style="width: 150px;">
				<input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

				<div class="input-group-btn">
					<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</div>
	</div>
	<!-- end .box-header -->
	<!-- start .box-body -->
	<!-- start 简单表格 -->
	<div class="box-body table-responsive no-padding">
		<table id="js-table" class="table table-hover">
			<tr>
				<th>课程</th>
				<th>教师</th>
				<th>删除</th>
			</tr>
			<tr id="js-waiting">
				<td class="center-block" col="3">载入中，请稍等...<td>
			<tr>
		</table>
	</div>
	<!-- end 简单表格 -->
	<!-- end .box-body -->
	<!-- start .box-footer -->
	<div class="box-footer clearfix">
		<div class="btn-group pull-left">
			<button class="btn btn-primary" onclick="addCourseTable()">添加课程</button>
			<button class="btn btn-info" onclick="cancel()">取消</button>
		</div>
	</div>
	<!-- end .box-footer -->
</div>
<!-- end .box -->
