@using WebUI.Areas.Admin.Models.Clazz
@model ClazzInfoForEditViewModel
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";

	Html.EnableClientValidation(false);
}
@section head {
}
@section body {
	<script>

		function onSuccess(data) {
			$("#js-message").fadeIn();
			if (data.code <= 0) {
				$("#js-message").attr("class", "alert alert-danger").find(".message").html(data.message)
			} else {
				$("#js-message").attr("class", "alert alert-success").find(".message").html(data.message);
			}
			// 3s 后隐藏
			setTimeout(function () {
				$("#js-message").fadeOut("slow");
			}, 3000);
		}

		function saveData() {
			$.ajax({
				url: "/ClazzInfo/Edit",
				type: "post",
				dataType: "json",
				data: $("#js-form").serialize(),
				success: onSuccess
			});
			return false;
		}

	</script>
}

<!-- start 提示框 -->
@Html.Partial("_MessagePartial")
<!-- end 提示框 -->
<!-- general form elements -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">班级资料 - 修改</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<form id="js-form">
		@Html.HiddenFor(m => m.ID)
		<div class="box-body">
			<div class="form-group">
				<label for="InputClazzCode">班级代号</label>
				@Html.TextBoxFor(m => m.InputClazzCode, new { @class = "form-control" })
			</div>
		</div>
		<!-- /.box-body -->

		<div class="box-footer">
			<div class="btn-group">
				@if (TempData["RedirectUrl"] != null)
				{
					<a class="btn btn-default" href="@TempData["RedirectUrl"].ToString()">返回</a>
				}
				else
				{
					<a class="btn btn-default" href="javascript:history.go(-1);">返回</a>
				}
				<button class="btn btn-primary" onclick="return saveData()">保存</button>
			</div>
		</div>
	</form>
</div>
<!-- /.box -->
