@using WebUI.Areas.Admin.Models
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";

	ViewBag.Title = "管理后台首页";
	ViewBag.BreadcrumbList = new List<BreadcrumbItem>
	{
		new BreadcrumbItem("导航1"),
		new BreadcrumbItem("导航2")
	};
}

<h2>测试</h2>
<div>哈哈哈哈哈或或或或或或</div>
