@using Domain
@model UserInfo
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";
}

<div class="input-group">
	<a class="btn btn-default" href="@Url.Action("Index")">返回</a>
	@Html.TextBoxFor(m => m.ID, new { @class = "form-control", @readonly = "readonly" })
	@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
</div>
