@using WebUI.HtmlHelpers
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";
}
@section head {
	<link href="~/dist/layui/css/layui.css" rel="stylesheet" />
}
@section body {
	<script src="~/dist/layui/layui.all.js"></script>
	<script>

		function onEdit(id) {
			layer.open({
				type: 2,
				closeBtn: 1,
				anim: 4,
				title: "修改",
				shade: 0.4,
				shadeClose: false,
				area: ['800px', '420px'],
				content: ['/Admin/NormTarget/Edit?id=' + id, 'yes'],
				end: function () {
				}
			});
		}

		function onSort(id) {
			layer.open({
				type: 2,
				closeBtn: 1,
				anim: 4,
				title: "排序",
				shade: 0.4,
				shadeClose: false,
				area: ['800px', '420px'],
				content: ['/Admin/NormTarget/Sort?id=' + id, 'yes'],
				end: function () {
				}
			});
		}

	</script>
}

<div class="layui-fluid">
	@Html.GenerateCollapseNormTarget()
</div>
