@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NeedLogin</title>
</head>
<body>
    <div>
        请登录<br />
		10秒后跳转到登录页面<br />
		登录后返回之前你访问的页面 @ViewBag.ReturnUrl
    </div>
</body>
</html>
