@using Domain
@model Options
@{
	Layout = null;
}

<link href="~/dist/layui/css/layui.css" rel="stylesheet" />
<div class="layui-fluid">
	<h2>@(((NormTarget)ViewBag.NormTarget).Name) - 添加选项</h2>
	<form class="layui-form">
		@Html.HiddenFor(m => m.NormTarget.ID, new { Value = ((NormTarget)ViewBag.NormTarget).ID })
		<div class="layui-form-item">
			<div class="layui-input-block">
				@Html.TextBoxFor(m => m.Content, new { placeholder = "请输入内容", @class = "layui-input" })
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				@Html.TextBoxFor(m => m.Score, new { placeholder = "请输入分数", @class = "layui-input" })
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<a class="layui-btn layui-btn-primary" href="/Admin/NormTarget/OptionList?id=@(((NormTarget)ViewBag.NormTarget).ID)">返回</a>
				<button class="layui-btn" onclick="return saveData();">添加</button>
			</div>
		</div>
	</form>
</div>
<script src="~/Scripts/jquery-1.12.0.min.js"></script>
<script src="~/dist/layui/layui.js"></script>
<script>

	function saveData() {
		$.ajax({
			type: "post",
			url: "/Admin/NormTarget/OptionCreate",
			data: $("form").serialize(),
			dataType: "json",
			success: function (data) {
				if (data.code > 0) {
					// 成功
					layer.msg(data.message);
				} else if (data.code < 0) {
					// 失败
					layer.msg(data.message);
				}
			}
		});
		return false;
	}

	var form, layer;
	layui.use(['form', 'layer'], function () {
		form = layui.form,
			layer = layui.layer;
	});

	$(function () {
	});
</script>
