@using Domain
@using Framework.Models
@using LightPlugin.Web.Framework
@model CurrentAccountModel
@{
	ViewBag.Title = "教学评价系统 - TES";
	// Layout = "~/Views/Shared/_TopNav.cshtml";
	Layout = "~/GlobalShared/Views/_TopNav.cshtml";

	UserInfo currentUserInfo = Model.UserInfo;
}
@section head {
}
@section body {
}

<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			@{ Html.RenderAction("ProfileBoxPartial", "Control", new { area = "Account", userName = currentUserInfo.UserName }); }
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			@Html.Widget("home_page_bottom")
		</div>
	</div>
</section>
<!-- /.content -->
